# Security
SEC_JWT_SECRET=
SEC_SECRET_KEY=
SEC_API_KEY=

# Database
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# External APIs
SKB_API_KEY=
DADATA_API_KEY=
INFOSPHERE_LOGIN=
INFOSPHERE_PASSWORD=
CASEBOOK_API_KEY=

# File Storage (S3/MinIO)
FS_ACCESS_KEY=
FS_SECRET_KEY=

# Logging (Graylog)
LOG_INTERFACE_URL=
LOG_PASSWORD_SECRET=
LOG_ROOT_PASSWORD_SHA2=

# Redis
REDIS_PASSWORD=

# Mail (SMTP)
MAIL_USERNAME=
MAIL_PASSWORD=

# Grafana
GF_USER=
GF_PASSWORD=
OUTLINE_SECRET_KEY=
OUTLINE_UTILS_SECRET=
OUTLINE_URL=
OUTLINE_COLLABORATION_URL=

# QUEUE
QUEUE_USERNAME=
QUEUE_PASSWORD=

# Vault
VAULT_ADDR=
VAULT_TOKEN=
VAULT_SECRET_PATH=

# MongoDB
MONGO_USERNAME=
MONGO_PASSWORD=

# AI
GIGACHAT_API_KEY=
HUGGINGFACE_API_KEY=
TAVILY_API_KEY=
OPENROUTER_API_KEY=
PERPLEXITY_API_KEY=
OPEN_WEBUI_API_KEY=
